* {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

:root {
    --base: #eff1f5;
    --text: #4c4f69;
    --red: #d20f39;
    --sky: #04a5e5;
    --subtext-0: #6c6f85;
    --green: #40a02b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base: #1e1e2e;
        --text: #cdd6f4;
        --red: #f38ba8;
        --sky: #89dceb;
        --subtext-0: #a6adc8;
        --green: #a6e3a1;
    }
}

:root {
    color-scheme: light dark;
    font-size: 112.5%;
    font-family: 'Departure Mono', monospace;
    line-height: 1.5;
    background-color: var(--base);
    color: var(--text);
}

body {
    display: grid;
    grid-template-columns: minmax(0, 700px);
    justify-content: center;
}

main {
    padding: 60px 20px 40px 20px;
}

._key {
    color: var(--red);
}

._section {
    color: var(--sky);
}

._comment {
    color: var(--subtext-0);
}

._value {
    color: var(--green);
}

h1 {
    font-size: 1.5rem;
    background-color: var(--base);
    color: var(--text);
}

h1, p {
    margin-bottom: 1rem;
}

footer {
    font-size: .6rem;
    margin-top: 40px;
}

@font-face {
    font-family: 'Departure Mono';
    font-synthesis: none;
    src: url('./fonts/departure-mono/DepartureMono-Regular.woff2') format('woff2');
}
